@inherits LayoutComponentBase
@using AdminShellNS;
@using AasxIntegrationBase
@using AasxPackageLogic;
@using AasxPackageLogic.PackageCentral;
@using BlazorUI.Data;
@inject IJSRuntime JsRuntime
@inject BlazorUI.Data.BlazorSession Session


<nav class="navbar navbar-expand navbar-dark bg-primary"
     style="position:relative; overflow:hidden; min-height:50px">
    <div id="navbarSupportedContent"
         style="display:flex; align-items:center; flex-wrap:nowrap; padding-left:10px; padding-right:130px;">
        <a class="navbar-brand" style="flex-shrink:0" href="#">
            <img src="/image/IDTA_AAS-Logo_Circle.png" height="35" width="35" alt="">
        </a>
        <ul class="navbar-nav mb-2 mb-lg-0" style="flex-shrink:0; flex-wrap:nowrap">
            <DynamicMenuItem TopMenu="Session.MainMenu?.Menu"
                            MenuItems="Session.MainMenu?.Menu"
                            Depth="1" />
        </ul>
        <div class="d-grid gap-2 d-md-block" style="margin-left:2.0rem; flex-shrink:0">
            <button class="btn btn-sm btn-primary-light" type="button"
                    @onclick='async () => await ClickOnItem("NavigateBack")'>
                &#x25C0;
            </button>
            <button class="btn btn-sm btn-primary-light" type="button"
                    @onclick='async () => await ClickOnItem("NavigateHome")'>
                &#x29CB;
            </button>
        </div>
    </div>

    @*<img ... src="/image/PI40_and_IDTA.png" height="30" alt="">*@
    <img src="/image/Logo_IDTA_Custom.png" height="30" alt=""
         style="position:absolute; right:10px; top:50%; transform:translateY(-50%)">
</nav>

@code
{
    public async Task ClickOnItem(string menuItemName)
    {
        var mi = Session.MainMenu?.Menu?.FindName(menuItemName);
        if (mi != null)
        {
            var ticket = new AasxMenuActionTicket()
            {
                MenuItem = mi
            };
            await Session.MainMenu?.Menu.ActivateAction(mi, ticket);
        }
    }
}
