<!--*******************************************************************************
* Copyright (c) {2024} Contributors to the Eclipse Foundation
*
* See the NOTICE file(s) distributed with this work for additional
* information regarding copyright ownership.
*
* This program and the accompanying materials are made available under the
* terms of the Apache License Version 2.0 which is available at
* https://www.apache.org/licenses/LICENSE-2.0
*
* SPDX-License-Identifier: Apache-2.0
*******************************************************************************-->

@page "/About"


@{
    // resharper disable all
}

<h1>LICENSE.TXT for AASX Browser</h1>

<!--
<p>
    Copyright...
</p>

<p>
    <a target="_blank" href="http://www.phoenixcontact.com">Test</a>
</p>

<frame src="LICENSE.TXT"></frame>

-->
<p>
    @{
        string[] lines = System.IO.File.ReadAllLines("LICENSE.TXT");
        foreach (string line in lines)
        {
            @line<br />
        }
    }
</p>
